<!DOCTYPE html>
<html>
<head>
	<title>season 2</title>
	<link rel="stylesheet" type="text/css" href="static/cukur.css">
</head>
<style type="text/css">
	.red{
	background-color: darkred;
	color:black;
	
	animation-name: Red;
	animation-duration: 5s ;
	animation-iteration-count: infinite;
}
	@keyframes Red{
	from{background-color:darkred;}
	to{background-color: grey;}
}
</style>
<body>
	<div class="navbar">
  <a style="float:left;" href ={{ url_for ('home') }}>home</a>
  <a href={{ url_for ('songs') }}>Songs</a>
  <a href={{ url_for ('shop') }}>Mini Store</a>
  <a href={{ url_for ('wallwritings') }}>Wall writings</a>
  <a href={{ url_for ('cast') }}>cast</a>
  <div class="dropdown">
  <button class="dropbtn , active" onclick="myFunction()">Seasons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href={{ url_for ("season1") }}>season 1</a>
    <a href={{ url_for ("season2") }}>season 2</a>
    <a href={{ url_for ("season3") }}>season 3</a>
  </div>
  </div> 
</div>
	<h1 style="font-size: 50px; color: darkred;">Cukur - Season2 </h1>
<br>
<p style="font-size: 30px;">The season where the biggest brother"Cumali" sneaks out of prison and comes backto cukur which is now destroyed nad controled by the "black lambs" ,revenge fire starts will it stop?</p>
<p style="font-size: 30px;">Prepare yourself for a lot of incredible scenes for Yamac and Cumali!</p>

<h1>Episodes</h1>
<div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/EHwyC2wPYr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/jwPlPa-wZxE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Yac6WNDlhyw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/zgR4vxgKUg0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/SbVnjEQQlgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/oUtyXozsWXs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/SYyDWEOR-6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/beJnC8sqE48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/KDiZzepELHM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/tU973iIwG3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/8VTDeg7jMvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/K3J9Zt6cQ5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/OfR8yVF3a0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/51fhv0FYfeU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/brjiGawGw8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/_31iGr03fBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/lO0ylurYn5o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/F5Un_Pnz5cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/y5O3YdmU0QU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/GVE-IZp_Ax0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/00vBWQq26eQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ianDozlbxuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/wVwD7Jzvbjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/9NF26sHfi9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/tU64ZpAK5S0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/BiheI8Xz2e0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/avpzzz6Dtdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/sD8ZBMy5GI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/KV0xyGyrQTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/s28nlOI3wNM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/fo1Gdjs699Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/wGFDZ7iZ68w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/7ul7S3dwN7E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/BEQHH8q2Lek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div >
<div class= "red">
<h1 style="color: white; font-size: 50px">Characers who joined this season</h1>

<img src="https://scontent.fjrs4-1.fna.fbcdn.net/v/t1.15752-9/84495963_1050884678609433_5214323058801639424_n.jpg?_nc_cat=100&_nc_oc=AQkwMeNAvtZelQCQ5Z47tUkJNg72dXTq2BoiepkI0DXAvzepGbHU1bIs5rQ9D9RvXH0&_nc_ht=scontent.fjrs4-1.fna&oh=70208a4aeff42cc6fd2d6a2c37a059d9&oe=5E93145D"style = "margin-left: 400px;">

</div>

<div style="background-color: black; color: white;">
	<h1 font-size: 50px>Characters who died in this season</h1>
	<img src="https://scontent.fjrs4-1.fna.fbcdn.net/v/t1.15752-9/83019214_2707117459366514_7302511603788808192_n.jpg?_nc_cat=110&_nc_oc=AQll1JI-d_F_3DgRElOjynnQ1hcbsKeBXzE-sV8yVH0aNBYGRfprVa9_zLBh8M_BWRU&_nc_ht=scontent.fjrs4-1.fna&oh=d8566b87bac85fe6697e29581055374e&oe=5EC431AB"style="margin-left: 400px">
</div>



<script type="text/javascript">
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
</body>
</html>