<!DOCTYPE html>
<html>
<head>
	<title>season 3</title>
	
	<link rel="stylesheet" type="text/css" href="static/cukur.css">
</head>
<style type="text/css">
	.red{
	background-color: darkred;
	color:black;
	
	animation-name: Red;
	animation-duration: 5s ;
	animation-iteration-count: infinite;
}
	@keyframes Red{
	from{background-color:darkred;}
	to{background-color: grey;}
}
</style>
<body>
	<div class="navbar">
  <a style="float:left;" href ={{ url_for ('home') }}>home</a>
  <a href={{ url_for ('songs') }}>Songs</a>
  <a href={{ url_for ('shop') }}>Mini Store</a>
  <a href={{ url_for ('wallwritings') }}>Wall writings</a>
  <a href={{ url_for ('cast') }}>cast</a>
  <div class="dropdown">
  <button class="dropbtn , active" onclick="myFunction()">Seasons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href={{ url_for ("season1") }}>season 1</a>
    <a href={{ url_for ("season2") }}>season 2</a>
    <a href={{ url_for ("season3") }}>season 3</a>
  </div>
  </div> 
</div>
	<h1 style="font-size: 50px; color: darkred;">Cukur - Season3 </h1>
	<br>
	<p style="font-size: 30px;">This season is when you feel satisfied ,it's when yamac is isck of losing his beloved ones so he decides to attack all the mafias in Istanbul!</p>
	<p style="font-size: 30px;">His pain is drowning him ,will he find a way to breath ?</p>

<h1>Episodes</h1>
<div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/8VNheuYlQ4k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/gqxAmXjdS6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/2jnk5mh_uVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/DfuPbQ963-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/v5THJsIYYO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/l9C2WLstQA0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/2SbRCfEzdpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/5f6DEXJtFcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6Aouma7m4D8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/1TFNfenU-IE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/cyWB4n4njw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/30QiKNwQDhs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/OIR1Q4Yenkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/BhPN2aUW8R4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/_-VHphB1V5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/DKJLi2AAfRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/WmVdSnBwz3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/rO8VWPX6Jss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="red">
	<br>
	<h1 style="color: white; font-size: 50px;">Characters who joind this season</h1>
	<img src="https://scontent.fjrs4-1.fna.fbcdn.net/v/t1.15752-9/83039711_118180452874948_4790250576543744000_n.jpg?_nc_cat=105&_nc_oc=AQmU5_-_rSIGZG4tw-Y-oDrPdtJTPvirMtsPBF3UnRRcgLOVoB3qDafClQWbomjkkBY&_nc_ht=scontent.fjrs4-1.fna&oh=961e1017c3f31a87d7db2bb0fb013e67&oe=5E96057F" style="margin-left: 400px;">


<script type="text/javascript">
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
</body>
</html>