<!DOCTYPE html>
<html>
<head>
	<title>songs</title>
	<link rel="stylesheet" type="text/css" href="static/cukur.css">
</head>
<body>
	  <div class="navbar">
  <a style="float:left;" href ={{ url_for ('home') }}>home</a>
  <a class="active" href={{ url_for ('songs') }}>Songs</a>
  <a href={{ url_for ('shop') }}>Mini Store</a>
  <a href={{ url_for ('wallwritings') }}>Wall writings</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Seasons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href={{ url_for ("season1") }}>season 1</a>
    <a href={{ url_for ("season2") }}>season2 2</a>
    <a href={{ url_for ("season3") }}>season 3</a>
  </div>
  </div> 
</div>
<br>
<h1 style="font-size: 50px; color: darkred;">Cukur-songs</h1>
<br>
<div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/-eSpiwGcW2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/BcjoGIoErdE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/_Iq_uEZuqGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/_Iq_uEZuqGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/4zr2SrTH774" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Ck41oQbYNpE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/iPZPDbmVv9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Z9SJ36RokLA?start=23" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/UoTIjbjci8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/DgYodhTBn0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ov3zOj0u_9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/R4L2dL8FGEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/iUA8dLgFObg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/YJrVcTN3TSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6vHxhaK9qL4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/1wvNvV7Gfuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/fExZhU9lPF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Py5iPoLrt7s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/dp1_zdNlqZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Olhvj4DDsjs?start=131" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/plFNFIWtVHI?start=14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/eWepns5le7Q?start=15" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/rS9Q5aabwKY?start=109" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/O0f_Y1RPuPo?start=117" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/tGZuJ26d5gA?start=117" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/XCXDl5kkfi0?start=139" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/22Wd9wRPBag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ihaSOy-FD4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6JL54VbGkHE?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/lyk1uEJBxis?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/XCXDl5kkfi0?start=139" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/22Wd9wRPBag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ihaSOy-FD4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/OM1aBm3W1kU?start=117" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/GLaL9CJzGBw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/zsVh6wr3qJQ?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/S3gzlsfFZo0?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/1X0LU8GTj70?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6JL54VbGkHE?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/GbN4-W9ndco?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/8mautGzVd6Y?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/3aLeefXCZvY?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ImelueZtq2g?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/g1kwSZm2_fM?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/4LHt1-dcNuY?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/5XHUp2eq6Ms?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/vU2yj3rQLnA?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6TBSdEksmzQ?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Wo9XDgWCY48?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/SUJfIX0Eir0?start=117" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/wzl6P4-72Hg?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/suqenvzpuvY?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ryhgJHcLtuI?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/HQvCAcsYfMQ?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/8mpyn3DXhFM?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/tpp0pjxS9rk?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/zwmC6HirqDs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/7tNpv7UKmtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/QLxs4mBDXq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6uy4NvrkbTM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Q6ECOY0tdPo?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/faI9zsL8K6A?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/df_0SE6sfBE?start=154" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




</div>





<script type="text/javascript">

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

</script>
</body>
</html>