<!DOCTYPE html>
<html>
<head>
	<title>terms and policey </title>

</head>
<body>
	<h1 style="font-size: 80px; color: darkred;">cukur websites's terms</h1>

	<p>Dear user,</p>
	<p>having an account is totally free, all you're asked for is respecting our rules.</p>
	<h3>rules:</h3>
	<p>1-no harming any otheruser neither using disrespectful language.</p>
	<p>2-no stealing code.</p>
	<p>simple rules !  </p>

	<h2>breaking any rule will lead us unfortunately to delete your acount and block your email.</h2>

</body>
</html>