<!DOCTYPE html
<html>
<head>
	<title>Wall writings</title>
	<link rel="stylesheet" type="text/css" href="static/cukur.css">
	<style type="text/css">
		img{
			max-width: 750px;
		}

		h3 {
			color: white;
		}

	</style>
</head>
<body>
	  <div class="navbar">
  <a style="float:left;" href ={{ url_for ('home') }}>home</a>

  <a href={{ url_for ('songs') }}>Songs</a>
  <a href={{ url_for ('shop') }}>Mini Store</a>
  <a class="active" href={{ url_for ('wallwritings') }}>Wall writings</a>
  <a href={{ url_for ('cast') }}>cast</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Seasons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href={{ url_for ("season1") }}>season 1</a>
    <a href={{ url_for ("season2") }}>season 2</a>
    <a href={{ url_for ("season3") }}>season 3</a>
  </div>
  </div> 
</div>
	<br>
	<br>
	<h1 style="color: darkred;">Cukur-Wall writings</h1>
	
	<h2>Something special about this series that the events that happen ,few spoilers ,real turkish events and famous "cukur sayings are written on the walls around the neighborhood  !</h2>

	<br>
	<br>
<div style="background-color: black;">
	<br>
	<br>
	<div style="max-width: 800px;">
		<img style=" width: 500px; "src="https://scontent.fjrs4-1.fna.fbcdn.net/v/t1.15752-9/67404257_2419316328125962_316540511349374976_n.jpg?_nc_cat=102&_nc_oc=AQmkaR-P-KMcyL58p2wc3XORY-bmIF7EysxuslmGuvCG2mWxqQk2Oyb2klK7APEnMzw&_nc_ht=scontent.fjrs4-1.fna&oh=82c04dea16907da25b6ded6ac0ef2ff3&oe=5E97A48A">
		<h3>The sign.</h3>
		<br>

		<img src="https://i.pinimg.com/originals/47/bc/22/47bc22873f44487a7270c4b194222027.jpg">
		<h3>If there isn't a problem that means that there is.</h3>
		<br>

		<img style="width: 500px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxCBxQOHWt-GQ2-sX9UVE8ukpf062K2fh_1AXCuhSyyE5o2KCE">
		<h3>This neiborhood is ours.</h3>
		<br>

		<img src="https://i.pinimg.com/originals/42/33/f2/4233f2ec628034b0efac4b8a4b395ded.png">
		<h3>Even dreams are a dream now.</h3>
		<br>

		<img src="https://im.showtv.com.tr/2018/05/15/1967355_d86205f1949f155a358176e2802be88a_640x640.jpg">
		<h3>I'm lokking for myself ,is there anyone who saw me ?</h3>
		<br>

		<img src="https://i.pinimg.com/originals/59/64/ca/5964caeccf09f87cd32d05bdffe9ef63.png">
		<h3>i had corruption in me , why did you spend yourself?</h3>
		<br>

		<img src="https://scontent-lhr3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/75602168_1393069384202202_833411853613849465_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&_nc_cat=106&oh=6e2eef677c1797a5748506c2f512ba1a&oe=5E856145">
		<h3>There is weakness in everyone.</h3>
		<br>

		<img src="https://i.pinimg.com/originals/02/ee/7c/02ee7c5451ceee8680274b502e966921.png">
		<h3>Family is everything.</h3>
		<br>

		<img src="https://imgrosetta.mynet.com/file/10235451/640xauto.jpg">
		<h3>the subject is deeper than cukur.</h3>
		<br>

		<img style="width: 800px;" src="https://pbs.twimg.com/media/DpEIZZAXUAEzcOh.jpg">
		<h3>this neiborhood isn't yours.</h3>
		<br>

		<img src="https://i1.wp.com/neizledik.com/wp-content/uploads/2018/11/99AC8FD3-F7A6-4C05-9D8D-E115E2672483.jpeg?resize=800%2C459&ssl=1">
		<h3>We are coming back.</h3>
		<br>

		<img src="https://static.karar.com/img/650x400/18-03/17/9-1521269817.jpg">
		<h3>Even if i said i miss you ,don't come back to me.</h3>
		<br>

		<img style='width: 500px; 'src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3g7tRMRfoyNtcvoN6n8MLA-QtzZHh-hXPoUM6DmZD8AJQ5RRE">
		<h3>Isn't there any lie for us to believe ?</h3>
		<br>

		

		
	</div>


	<div style="width: 750px; left:950px; position: relative; top: -6640px;">
		<img src="https://pbs.twimg.com/media/EB7bHThXsAAkidv.jpg">
		<h3>Cukur is our home , Idris is our father.</h3>
		<br>

		<img src="https://i.pinimg.com/originals/9b/d6/64/9bd664922c249cf8c74ece207166dee5.jpg">
		<h3>i'm like a baby when i'm loving you.</h3>
		<br>

		<img  src="https://sozleralemi.com/wp-content/uploads/2018/02/cukur-dizisi-duvar-yazilari-sozleri.jpg">
		<h3>You're like cukur, i fell for a girl i love , i can't get out!</h3>
		<br>

		<img src="http://cdn.lodoshaber.com/galeri/2019/04/10/341-iste-cukur-un-meshur-duvar-yazilari-5cadb5d073dee.jpg">
		<h3>ATTENTION! your dreams can break down.</h3>
		<br>

		<img src="https://pbs.twimg.com/media/DrV8zItWkAA5jIO.jpg">
		<h3>You are the ones who made me crazy.</h3>
		<br>

		<img src="https://img.memurlar.net/galeri/16373/4C177367-9544-E911-80E8-A0369F7D1484.jpg?width=420">
		<h3>the flower of my eyes,she will go to heaven.</h3>
		<br>

		<img src="https://scontent-frx5-1.cdninstagram.com/vp/6dbd1b1423bd60e305b0c385ae379c45/5E6378C3/t51.2885-15/e35/70560424_400380697300644_2217642236526920813_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=100&se=7&ig_cache_key=MjE1MTc1Nzg1MTE1MjcwNjEyNw%3D%3D.2">
		<h3>Those who don't hear the music thought the dancers were crazy.</h3>
		<br>

		<img src="https://im.showtv.com.tr/2019/09/26/2525630_801290c4d3ad49d515a668cecee3a58f_640x640.jpg">
		<h3>you thought the roof tops were just for you?</h3>
		<br>

		<img src="https://im.showtv.com.tr/2019/09/26/2525630_8720bce9643bb8abb83a8abd2abdf6ad_640x640.jpg">
		<h3>Hope is bigger the this world</h3>
		<br>

		<img src="https://66.media.tumblr.com/a9f88aa469650b8b957dd1a21c0d93f4/tumblr_pne6nf1FdP1s5l2qm_1280.jpg">
		<h3>I'm collecting myself as a collection</h3>
		<br>

		<img src="https://i.ytimg.com/vi/yfusoL9BzQs/mqdefault.jpg">
		<h3>vartolu always finds a way.</h3>
		<br>

		<img src="https://im.showtv.com.tr/2019/09/26/2525630_ec5e5fdc7be8d065e6a934e426fdd681_640x640.jpg">
		<h3>here is cukur ,here our table is open for everyone.</h3>
		<br>

		<img src="https://pbs.twimg.com/media/DVUsJmTXkAATK-u.jpg">
		<h3>there isn't any light, i know that.</h3>

		
	</div>
</div>
<script type="text/javascript">
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}</script>
</body>
</html>
